#### Python For Statistics-Session nk_3a

#### Python Libraries

In [ ]:
# Definition :
# A Python library is a collection of related modules which contains bundles of code that can be used
# repeatedly in different programs. 
# This  makes Python Programming simpler and convenient for the programmer.
# Since there is no need to repeat the same code again for different programs.

#### I.Pandas

In [ ]:
# 1. Pandas is a fast, powerful,flexible and easy to use open source data analysis and manipulation tool,
#    built on top of the Python programming language.
# 2. It is a Python library used for working with data sets.

# 3. It has functions for analyzing, cleaning, exploring, and manipulating data.

# 4. The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis",
#   and was created by Wes McKinney in 2008.

# 5.Pandas allows us to analyze big data and make conclusions based on statistical theories.

# 6.Pandas can clean messy data sets, and make them readable and relevant.

# 7.Relevant data is very important in data science.

In [ ]:
# Tasks Executed By Pandas ?
# Pandas  answers about the data :

# 8.Is there a correlation between two or more columns?
# 9. What is: 
# a.       average value ?
# b.       Max value?
# c.       Min value?

#10.Pandas is able to delete rows that are not relevant,
#   or contains wrong values, like empty or NULL values.
#  This is called cleaning the data.

In [ ]:
#  How to install pandas 
#  pip install pandas

In [ ]:
import pandas 
import pandas as pd  # most used form

In [ ]:
# Calculating Mean,Median & Mode
#The data variables for most numericals

In [1]:
import statistics
x = [2,4,4,5,6,7,10,11,12]

statistics.mean(x)  #Command number 2

6.777777777777778

In [2]:
x = [2,4,4,5,6,7,10,11,12]


statistics.median(x)

6

In [3]:
import statistics

x = [2,4,4,5,6,7,10,11,12]

statistics.mode(x)

4

In [ ]:
import pandas as pd  # most used form
mytest = {'Students': ["Ann", "Betty", "Carol"],'Marks': [93, 97, 92] }

In [2]:
# Example :
# Lets create a pandas dataframe                 dict = {key:value}
import pandas as pd

mytest = {'Students': ["Ann", "Betty", "Carol"],'Marks': [93, 97, 92] }
#  this is a dictionary data type called 'mytest'        
# mytest={key:value}      
# mytest[key]=[Students,Marks]
# mytest[value] = [Ann,Betty,Caro,93,97,92]
exam = pd.DataFrame(mytest)

print(exam)

  Students  Marks
0      Ann     93
1    Betty     97
2    Carol     92

In [ ]:
    #################################

#### Reading Data onto the  Jupyter Notebook

In [6]:
#1. import the relevant libraries
import pandas as pd 

#2.read the data onto the notebook
df = pd.read_csv(r'C:\Users\user\Documents\Python For Statistics\Wk 1\Brain_Size.csv')
df

      SUBJECT_ID  AGE SEX  HEAD_SIZE  BRAIN_VOLUME
0   SUBJECT_0001   26   F  57.177086      1276.014
1   SUBJECT_0002   35   F  58.739561      1265.146
2   SUBJECT_0003   26   F  51.848277      1206.201
3   SUBJECT_0004   50   F  49.905138      1045.086
4   SUBJECT_0005   54   F  49.858813      1055.700
..           ...  ...  ..        ...           ...
95  SUBJECT_0096   25   M  57.053944      1327.486
96  SUBJECT_0097   32   M  65.879427      1355.366
97  SUBJECT_0098   62   M  59.806948      1129.832
98  SUBJECT_0099   28   M  60.154818      1286.297
99  SUBJECT_0100   29   M  63.274557      1337.046

[100 rows x 5 columns]

In [6]:
import pandas as  pd
import numpy as np

df = pd.read_csv(r'C:\Users\user\Desktop\Python For Statistics\Brain_Size.csv')
df

      SUBJECT_ID  AGE SEX  HEAD_SIZE  BRAIN_VOLUME
0   SUBJECT_0001   26   F  57.177086      1276.014
1   SUBJECT_0002   35   F  58.739561      1265.146
2   SUBJECT_0003   26   F  51.848277      1206.201
3   SUBJECT_0004   50   F  49.905138      1045.086
4   SUBJECT_0005   54   F  49.858813      1055.700
..           ...  ...  ..        ...           ...
95  SUBJECT_0096   25   M  57.053944      1327.486
96  SUBJECT_0097   32   M  65.879427      1355.366
97  SUBJECT_0098   62   M  59.806948      1129.832
98  SUBJECT_0099   28   M  60.154818      1286.297
99  SUBJECT_0100   29   M  63.274557      1337.046

[100 rows x 5 columns]

In [55]:
df.describe()

              AGE   HEAD_SIZE  BRAIN_VOLUME
count  100.000000  100.000000    100.000000
mean    38.150000   57.640143   1218.499930
std     12.196518    7.081406    124.764051
min     20.000000   43.658139    941.225000
25%     29.000000   51.791378   1126.044250
50%     34.500000   58.542904   1217.718500
75%     46.500000   63.314010   1316.885500
max     69.000000   71.017566   1502.971000

In [56]:
df.shape

(100, 5)