### Python  Libraries

#### I.Pandas

In [ ]:
# 1. Pandas is a fast, powerful,flexible and easy to use open source data analysis and manipulation tool,
#    built on top of the Python programming language.
# 2. It is a Python library used for working with data sets.

# 3. It has functions for analyzing, cleaning, exploring, and manipulating data.

# 4. The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis",
#   and was created by Wes McKinney in 2008.

# 5.Pandas allows us to analyze big data and make conclusions based on statistical theories.

# 6.Pandas can clean messy data sets, and make them readable and relevant.

# 7.Relevant data is very important in data science.

In [ ]:
# Tasks Executed By Pandas ?
# Pandas  answers about the data :

# 8.Is there a correlation between two or more columns?
# 9. What is: 
# a.       average value ?
# b.       Max value?
# c.       Min value?

#10.Pandas is able to delete rows that are not relevant,
#   or contains wrong values, like empty or NULL values.
#  This is called cleaning the data.

In [1]:
import pandas as pd

print(pd.__version__)

1.2.4

In [ ]:
#  How to install pandas 
#  pip install pandas

In [4]:
# Example :
# Lets create a pandas dataframe                 dict = {key:value}
import pandas as pd

mytest = {'Students': ["Ann", "Betty", "Carol"],'Marks': [93, 97, 92] }
#  this is a dictionary data type called 'mytest'        
# mytest={key:value}      
# mytest[key]=[Students,Marks]
# mytest[value] = [Ann,Betty,Caro,93,97,92]
exam = pd.DataFrame(mytest)

print(exam)

  Students  Marks
0      Ann     93
1    Betty     97
2    Carol     92

### Assignment 1

In [ ]:
#1.Create a variable named county and assign the value Kent to it.

#2.Create a variable named x and assign the value 105 to it.

#3.Display the sum of 45 + 56, using two variables: x and y.

#4.Create a variable called z, assign x + y to it, and display the result.

#5.Correct the error  in the variable name:  1my-last_name = "Pius"

#6.Assign the same value ("Egg") to all three variables (x,y,z) in one code line.

#7.What data type is x from the following code ?  x = 5.7

#### Solutions To Assignment 1

In [37]:
#1.Create a variable named county and assign the value Kent to it.
county = 'Kent'

In [38]:
#2.Create a variable named x and assign the value 105 to it.
x = 105

In [2]:
x = 45
y = 56
z = (x+y)
print(z)

101

In [3]:
x = y = z = 'Egg'

In [ ]:
# Example:
x = 40054
print('Facility Code is :', +x)     # text is 'Facility Code is'  and variable is 'x'

# Example :
y = 'great'
print('Python is '+y)

In [4]:
y = 15
print('The students are', +y)

The students are 15

In [17]:
# Example:
def x():
    print('x is 40054')
#print('Facility Code is :', +x)     # text is 'Facility Code is'  and variable is 'x'

x()

x is 40054

#### Function

In [ ]:
# A function is a block of code which only runs when it is called.

# You can pass data, known as parameters, into a function.

# A function can return data as a result.

#### Calling a Function

In [ ]:
# To call a function, use the function name followed by parenthesis:

In [3]:
# Function
def x():           # Name of Function is x ;
    print('x')     # Prints x
x()                # Call it or invoke it;how x()

x

In [4]:
def sum(): 
    a = 1
    b = 2
    c = a + b   
    print("The sum is:", c) 
    
def sub():
    a = 1
    b = 2
    d = a - b    
    print("The sub is:", d)  
   

  
sum()  # function calling  
sub()

The sum is: 3
The sub is: -1

In [7]:
def sum():
    x = 5
    y = 7
    z = x + y
    print('The sum is', z)

In [29]:
def sum(): 
    a = 1
    b = 2
    c = a + b   
    print("The sum is:", c) 
sum()

The sum is: 3

In [9]:
# Function which returns my names:
def my_names():
    fname= "zahra"
    lname = "ppp"
    print(fname +" "+ lname)
my_names()

zahra ppp

In [10]:
# Function which returns my details :
def manutd():
    location = "UK"
    sport = "soccer"
    print(location +" " + sport)
manutd()

UK soccer

#### Arguments

In [ ]:
# Information can be passed into functions as arguments.
# Arguments are specified after the function name, inside the parentheses.
# You can add as many arguments as you want, just separate them with a comma.
# Arguments are often shortened to args in Python documentations.

In [ ]:
# Example :

In [2]:
24.25 ** 0.5

4.924428900898052