#### Python Casting

#### Specify a Variable Type

In [ ]:
# Casting in python is therefore done using constructor functions:

#1.int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), 
#          or a string literal (provided the string represents a whole number)
#2.float() - constructs a float number from an integer literal,
#          a float literal or a string literal (providing the string represents a float or an integer)
#3. str() - constructs a string from a wide variety of data types, including strings,
#           integer literals and float literals

In [9]:
#Example for #1.int()
w = 2.9
type(w)

float

In [11]:
# int(w)
w = int(2.9)
type(w)
w

2

In [ ]:
# Example 1: 
# Integers:

x = int(1)   # x will be 1 # Cast into integer & remains an integer
y = int(2.8) # y will be 2 # Cast into integer
z = int("3") # z will be 3 # Cast into integer

In [24]:
z  =int("3")
type(z)
z

3

In [17]:
# change x to be a float :
x = float(1)
type(x)

float

In [ ]:
# Example 2:
# Floats:

x = float(1)     # x will be 1.0  # Cast into float
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0  # Cast into float
w = float("4.2") # w will be 4.2  # Cast into float

In [ ]:
# Example 3:
# Strings:

x = str("s1") # x will be 's1'  # remains a  string
y = str(2)    # y will be '2'   # Cast into string
z = str(3.0)  # z will be '3.0' # Cast into string

In [1]:
county = 'Kent'
type('Kent')

str

In [2]:
county = '47'
type('47')

str

In [7]:
county = float('47')
county

47.0

In [6]:
type(47)

int

In [9]:
car = 'toyota'
type(car)

str

In [14]:
car1 =float('15')
type(car1)

float

#### Slicing

In [18]:

#1.You can return a range of characters by using the slice syntax.

#2.Specify the start index and the end index, separated by a colon, to return a part of the string.

# Example 1:
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5]) # Will print index 2 pstn upto index 4 pstn but not i.e.not print index 5 position
print(b[0:8])

llo
Hello, W

In [19]:
# Slice From the Start
# By leaving out the start index, the range will start at the first character:

# Example 2:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])
print(b[:8])

Hello
Hello, W

In [ ]:
# Slice To the End
# By leaving out the end index, the range will go to the end:

# Example 3:
# Get the characters from position 1, and all the way to the end:

b = "Hello, World!"
print(b[1:])

#### White board illustration on +ve and -ve numberline

#### Negative Indexing

In [ ]:
#Negative Indexing
# We use negative indexes to start the slice from the end of the string:
# Example 4:
# Get the characters:

# From: "r" in "World!" (position -4)

# To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-4:-2])

In [ ]:
# Slicing a df
# Also called Grouping
# Kitchen Budget  *s5**

In [29]:
import pandas as pd

In [33]:
salary = pd.read_excel(r'C:\Users\user\Desktop\Staff_Salary_1.xlsx', sheet_name='Sheet2')
salary

   Age(Yrs)\n(x)  Arranging  Mean ( x̄)\n  (x - x̄)               (x- x̄) ^2
0             19         19         36.33                 -17.33    300.3289
1             23         23         36.33                 -13.33    177.6889
2             32         32         36.33                  -4.33     18.7489
3             32         32         36.33                  -4.33     18.7489
4             32         32         36.33                  -4.33     18.7489
5             36         36         36.33                  -0.33      0.1089
6             45         45         36.33                   8.67     75.1689
7             54         54         36.33                  17.67    312.2289
8             54         54         36.33                  17.67    312.2289