## To test the impact of the trial store layouts on customer sales.

In [2]:
import pandas as pd;
import matplotlib.pyplot as plt;
import numpy as np;
import seaborn as sns;
from scipy.stats import iqr;
import scipy.stats as stats;

In [37]:
QVI_data = pd.read_csv(r'/home/jeromemugita/Downloads/QVI_data.csv')
QVI_data

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream
...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream

In [38]:
df = QVI_data.copy()

In [39]:
df.head(10)

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream
5,1005,2018-12-28,1,6,86,Cheetos Puffs 165g,1,2.8,165,CHEETOS,MIDAGE SINGLES/COUPLES,Mainstream
6,1007,2018-12-04,1,7,49,Infuzions SourCream&Herbs Veg Strws 110g,1,3.8,110,INFUZIONS,YOUNG SINGLES/COUPLES,Budget
7,1007,2018-12-05,1,8,10,RRD SR Slow Rst Pork Belly 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Budget
8,1009,2018-11-20,1,9,20,Doritos Cheese Supreme 330g,1,5.7,330,DORITOS,NEW FAMILIES,Premium
9,1010,2018-09-09,1,10,51,Doritos Mexicana 170g,2,8.8,170,DORITOS,YOUNG SINGLES/COUPLES,Mainstream

In [40]:
df.dtypes

LYLTY_CARD_NBR        int64
DATE                 object
STORE_NBR             int64
TXN_ID                int64
PROD_NBR              int64
PROD_NAME            object
PROD_QTY              int64
TOT_SALES           float64
PACK_SIZE             int64
BRAND                object
LIFESTAGE            object
PREMIUM_CUSTOMER     object
dtype: object

In [67]:
df['DATE'] = pd.to_datetime(df['DATE'])
df.dtypes

LYLTY_CARD_NBR               int64
DATE                datetime64[ns]
STORE_NBR                    int64
TXN_ID                       int64
PROD_NBR                     int64
PROD_NAME                   object
PROD_QTY                     int64
TOT_SALES                  float64
PACK_SIZE                    int64
BRAND                       object
LIFESTAGE                   object
PREMIUM_CUSTOMER            object
dtype: object

In [69]:
df['MONTH_ID'] = df['DATE'].dt.strftime('%Y/%m')
df

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,MONTH_ID
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium,2018/10
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream,2018/09
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget,2019/03
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget,2019/03
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream,2018/11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream,2018/12
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium,2018/10
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget,2018/10
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget,2018/10
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream,2018/12

In [90]:
df['PACK_PRICE'] = df['TOT_SALES'] / df['PROD_QTY']
df

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER,MONTH_ID,PACK_PRICE
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium,2018/10,3.0
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream,2018/09,2.7
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget,2019/03,3.6
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget,2019/03,3.0
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream,2018/11,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264829,2370701,2018-12-08,88,240378,24,Grain Waves Sweet Chilli 210g,2,7.2,210,GRNWVES,YOUNG FAMILIES,Mainstream,2018/12,3.6
264830,2370751,2018-10-01,88,240394,60,Kettle Tortilla ChpsFeta&Garlic 150g,2,9.2,150,KETTLE,YOUNG FAMILIES,Premium,2018/10,4.6
264831,2370961,2018-10-24,88,240480,70,Tyrrells Crisps Lightly Salted 165g,2,8.4,165,TYRRELLS,OLDER FAMILIES,Budget,2018/10,4.2
264832,2370961,2018-10-27,88,240481,65,Old El Paso Salsa Dip Chnky Tom Ht300g,2,10.2,300,OLD,OLDER FAMILIES,Budget,2018/10,5.1
264833,2373711,2018-12-14,88,241815,16,Smiths Crinkle Chips Salt & Vinegar 330g,2,11.4,330,SMITHS,YOUNG SINGLES/COUPLES,Mainstream,2018/12,5.7

In [89]:
total_sales = df[['STORE_NBR', 'TOT_SALES', 'MONTH_ID']].groupby(['STORE_NBR', 'MONTH_ID'])['TOT_SALES'].sum()
total_sales

STORE_NBR  MONTH_ID
1          2018/07     206.9
           2018/08     176.1
           2018/09     278.8
           2018/10     188.1
           2018/11     192.6
                       ...
272        2019/02     395.5
           2019/03     442.3
           2019/04     445.1
           2019/05     314.6
           2019/06     312.1
Name: TOT_SALES, Length: 3169, dtype: float64

In [87]:
number_of_customers = df[['STORE_NBR', 'LYLTY_CARD_NBR', 'MONTH_ID']].groupby(['STORE_NBR', 'MONTH_ID'])['LYLTY_CARD_NBR'].nunique()
number_of_customers

STORE_NBR  MONTH_ID
1          2018/07     49
           2018/08     42
           2018/09     59
           2018/10     44
           2018/11     46
                       ..
272        2019/02     45
           2019/03     50
           2019/04     54
           2019/05     34
           2019/06     34
Name: LYLTY_CARD_NBR, Length: 3169, dtype: int64

In [ ]:
transaction_per_customer = df[['STORE_NBR', 'TOT_SALES', 'MONTH_ID', 'LYLTY_CARD_NBR']].groupby(['STORE_NBR', 'MONTH_ID'])['TOT_SALES'].sum()

In [107]:
measure_calculations = df.groupby(['STORE_NBR', 'MONTH_ID']).agg(
    total_sales=('TOT_SALES', 'sum'),
    total_customers=('LYLTY_CARD_NBR', 'nunique'),
    txn_per_customer=('TXN_ID', 'count'),
    chips_per_customer=('PROD_QTY', 'sum'),
    avg_price_per_unit=('PACK_PRICE', 'mean')
).reset_index()

measure_calculations

,STORE_NBR,MONTH_ID,total_sales,total_customers,txn_per_customer,chips_per_customer,avg_price_per_unit
0,1,2018/07,206.9,49,52,62,3.384615
1,1,2018/08,176.1,42,43,54,3.329070
2,1,2018/09,278.8,59,62,75,3.685484
3,1,2018/10,188.1,44,45,58,3.288889
4,1,2018/11,192.6,46,47,57,3.412766
...,...,...,...,...,...,...,...
3164,272,2019/02,395.5,45,48,91,4.358333
3165,272,2019/03,442.3,50,53,101,4.350943
3166,272,2019/04,445.1,54,56,105,4.248214
3167,272,2019/05,314.6,34,40,71,4.437500
3168,272,2019/06,312.1,34,37,70,4.424324

In [108]:
preTrialMeasures = measure_calculations[(measure_calculations['MONTH_ID'] <= '2019/02')]
preTrialMeasures

,STORE_NBR,MONTH_ID,total_sales,total_customers,txn_per_customer,chips_per_customer,avg_price_per_unit
0,1,2018/07,206.9,49,52,62,3.384615
1,1,2018/08,176.1,42,43,54,3.329070
2,1,2018/09,278.8,59,62,75,3.685484
3,1,2018/10,188.1,44,45,58,3.288889
4,1,2018/11,192.6,46,47,57,3.412766
...,...,...,...,...,...,...,...
3160,272,2018/10,430.6,44,51,99,4.345098
3161,272,2018/11,376.2,41,45,87,4.308889
3162,272,2018/12,403.9,47,47,89,4.512766
3163,272,2019/01,423.0,46,50,96,4.410000
3164,272,2019/02,395.5,45,48,91,4.358333

In [109]:
control_stores = preTrialMeasures[(preTrialMeasures['STORE_NBR'] == 88) | (preTrialMeasures['STORE_NBR'] == 86) | (preTrialMeasures['STORE_NBR'] == 77)]
control_stores

,STORE_NBR,MONTH_ID,total_sales,total_customers,txn_per_customer,chips_per_customer,avg_price_per_unit
880,77,2018/07,296.80,51,55,84,3.545455
881,77,2018/08,255.50,47,48,74,3.439583
882,77,2018/09,225.20,42,44,70,3.234091
883,77,2018/10,204.50,37,38,52,3.876316
884,77,2018/11,245.30,41,44,67,3.765909
885,77,2018/12,267.30,46,49,72,3.708163
886,77,2019/01,204.40,35,39,65,3.125641
887,77,2019/02,235.00,45,45,74,3.193333
977,86,2018/07,892.20,99,126,251,3.555556
978,86,2018/08,764.05,94,112,215,3.584375
979,86,2018/09,914.60,103,129,258,3.544961
980,86,2018/10,948.40,109,138,276,3.436232
981,86,2018/11,918.00,100,127,254,3.614173
982,86,2018/12,841.20,98,120,240,3.505000
983,86,2019/01,841.40,94,130,260,3.236154
984,86,2019/02,913.20,107,139,277,3.298561
1001,88,2018/07,1310.00,129,153,306,4.281046
1002,88,2018/08,1323.80,131,160,303,4.342812
1003,88,2018/09,1423.00,124,159,318,4.474843
1004,88,2018/10,1352.40,123,158,316,4.279747
1005,88,2018/11,1382.80,130,157,314,4.403822
1006,88,2018/12,1325.20,126,149,298,4.446980
1007,88,2019/01,1266.40,117,146,292,4.336986
1008,88,2019/02,1370.20,124,154,308,4.448701

In [146]:
def calculate_correlation(input_table, metric_col, store_comparison):
    calc_corr_table = pd.DataFrame(columns=['Store1', 'Store2', 'corr_measure'])
    
    for store in input_table['STORE_NBR'].unique():
        if store != store_comparison:
            store1_measure = input_table[input_table['STORE_NBR'] == store][metric_col].values
            store2_measure = input_table[input_table['STORE_NBR'] == store_comparison][metric_col].values
            
            corr_measure = np.corrcoef(store1_measure, store2_measure)[0, 1]
            
            calc_corr_table = calc_corr_table.append({
                'Store1': store,
                'Store2': store_comparison,
                'corr_measure': corr_measure
            }, ignore_index=True)
    
    return calc_corr_table

In [147]:
calculate_correlation(control_stores, 'total_sales', 88)

AttributeError: 'DataFrame' object has no attribute 'append'

In [153]:

# Filter the data for the period before the trial (YEARMONTH < 201903)
trial_store = preTrialMeasures['STORE_NBR']
control_store = control_stores['STORE_NBR']

# Add a Store_type column to label the trial store, control store, and other stores
preTrialMeasures['Store_type'] = preTrialMeasures['STORE_NBR'].apply(lambda x: 'Trial' if x == trial_store
                                                        else 'Control' if x == control_store
                                                        else 'Other stores')

# Calculate the mean total sales for each month and Store_type
past_sales = preTrialMeasures.groupby(['MONTH_ID', 'Store_type']).agg({'totSales': 'mean'}).reset_index()

# Convert YEARMONTH to a datetime format

# Plot the total sales by month with different colors for each Store_type
sns.lineplot(data=past_sales, x='MONTH_ID', y='total_Sales', hue='Store_type')
plt.xlabel('Month of operation')
plt.ylabel('Total sales')
plt.title('Total sales by month')
plt.show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3508, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_6680/1967597861.py", line 6, in <module>
    preTrialMeasures['Store_type'] = preTrialMeasures['STORE_NBR'].apply(lambda x: 'Trial' if x == trial_store
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/pandas/core/series.py", line 4626, in apply
    return SeriesApply(self, func, convert_dtype, args, kwargs).apply()
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/pandas/core/apply.py", line 1025, in apply
    return self.apply_standard()
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/pandas/core/apply.py", line 1076, in apply_standard
    mapped = lib.map_infer(
  File "pandas/_libs/lib.pyx", line 2834, in pandas._libs.lib.map_infer
  File "/tmp/ipykernel_6680/1967597861.py", line 6, in <lambda>
    preTrialMeasures['Store_type'] = preTrialMeasures['STORE_NBR'].apply(lambda x: 'Trial' if x == trial_store
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/pandas/core/generic.py", line 1466, in __nonzero__
    raise ValueError(
ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2105, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1396, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1287, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1140, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1030, in format_exception_as_a_whole
    self.get_records(etb, number_of_lines_of_context, tb_offset) if etb else []
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1122, in get_records
    FrameInfo(
  File "/home/jeromemugita/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 766, in __init__
    ix = inspect.getsourcelines(frame)
  File "/usr/lib/python3.10/inspect.py", line 1129, in getsourcelines
    lines, lnum = findsource(object)
  File "/usr/lib/python3.10/inspect.py", line 958, in findsource
    raise OSError('could not get source code')
OSError: could not get source code

In [59]:
control_period_data = control_stores[(control_stores['DATE'] >= '2019-02-01') & (control_stores['DATE'] <= '2019-02-28')] 
control_period_data

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
73368,77001,2019-02-27,77,74913,7,Smiths Crinkle Original 330g,2,11.4,330,SMITHS,YOUNG FAMILIES,Mainstream
73378,77007,2019-02-07,77,74924,14,Smiths Crnkle Chip Orgnl Big Bag 380g,1,5.9,380,SMITHS,OLDER SINGLES/COUPLES,Premium
73381,77009,2019-02-09,77,74926,51,Doritos Mexicana 170g,2,8.8,170,DORITOS,OLDER SINGLES/COUPLES,Budget
73391,77024,2019-02-22,77,74936,27,WW Supreme Cheese Corn Chips 200g,1,1.9,200,WOOLWORTHS,NEW FAMILIES,Budget
73403,77035,2019-02-06,77,74950,40,Thins Chips Seasonedchicken 175g,1,3.3,175,THINS,RETIREES,Mainstream
...,...,...,...,...,...,...,...,...,...,...,...,...
151871,155008,2019-02-23,86,155054,44,Thins Chips Light& Tangy 175g,2,6.6,175,THINS,MIDAGE SINGLES/COUPLES,Mainstream
151920,155016,2019-02-24,86,155108,90,Tostitos Smoked Chipotle 175g,2,8.8,175,TOSTITOS,YOUNG SINGLES/COUPLES,Mainstream
151923,155018,2019-02-23,86,155116,40,Thins Chips Seasonedchicken 175g,2,6.6,175,THINS,YOUNG SINGLES/COUPLES,Mainstream
151924,155018,2019-02-25,86,155117,35,Woolworths Mild Salsa 300g,2,3.0,300,WOOLWORTHS,YOUNG SINGLES/COUPLES,Mainstream
153394,155311,2019-02-26,86,155079,68,Pringles Chicken Salt Crips 134g,2,7.4,134,PRINGLES,YOUNG FAMILIES,Budget